body
{
    margin:0;
    background-color: gray;
    overflow: hidden;
}

#player, #enemy, #ball
{
    transition: left 0.025s linear, top 0.025s linear;
}

#start
{
    position:absolute;
    display:block;
    top:30vh;
    left:42.5vw;
    height:3vw;
    width:15vw;
    background-color: rgb(39, 65, 39);
    font-size: 2vw;
    font-family: 'Courier New', Courier, monospace;
}

#waiting
{
    position:absolute;
    display:none;
    top:20vh;
    left:42.5vw;
    font-size: 2vw;
    font-family: 'Courier New', Courier, monospace;
}
#player
{
    position:absolute;
    display:none;
    top:50vh;
    left: 0vw;
    height: 10vh;
    width: 2vw;
    background-color: rgb(43, 43, 43);
}

#enemy
{
    position:absolute;
    display:none;
    top:50vh;
    right:0vw;
    height: 10vh;
    width: 2vw;
    background-color: rgb(43, 43, 43);
}

#playerScore
{
    position:absolute;
    display:block;
    top: 1h;
    left: 1vw;
    text-align: left;
    font-size: 3vw;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(43, 43, 43);
}

#enemyScore
{
    position:absolute;
    display:block;
    top: 1h;
    right: 1vw;
    text-align: left;
    font-size: 3vw;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(43, 43, 43);
}

#ball
{
    position:absolute;
    display:none;
    top: 0vh;
    left:0vw;
    height:2vw;
    width: 2vw;
    border-radius: 1vw;
    background-color: blue;
}